
@{
    ViewBag.Title = "ProblemAllVw";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>问题列表维护</title>
    <style>
        body {
            padding: 32px; /*overflow-y: scroll;*/
        }

        .layui-select-disabled .layui-disabled {
            color: #000000 !important;
        }
    </style>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>问题列表维护</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">系统类别</label>
                <div class="layui-input-inline">
                    <select ID="OpSystemCategory" name="OpSystemCategory" lay-filter="SystemCategory">
                        <option value=""></option>
                        <option value="IT(资讯类)">IT(资讯类)</option>
                        <option value="Logistics(总务后勤类)">
                            Logistics(总务后勤类)
                        </option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">大楼别</label>
                <div class="layui-input-inline">
                    <select ID="OpBuilding" name="OpBuilding" lay-filter="Building">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">位置</label>
                <div class="layui-input-inline">
                    <select ID="OpLocation" name="OpLocation">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <select ID="OpCategory" name="OpCategory">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">反应人姓名</label>
                <div class="layui-input-inline">
                    <input id="ResponseEmpname" name="ResponseEmpname" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">反应内容</label>
                <div class="layui-input-inline">
                    <input id="ResponseContent" name="ResponseContent" class="layui-input" />
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">执行状态</label>
                <div class="layui-input-inline">
                    <select ID="OpStatus" name="OpStatus">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">负责人</label>
                <div class="layui-input-inline">
                    <select ID="OpChargeEmpname" name="OpChargeEmpname" lay-search="">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" id="test6">
                <label class="layui-form-label">填表时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="startDate">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="endDate">
                </div>
            </div>
        </div>
    </form>
    <hr><br />
    <label style="color:red;font-size:medium">
        提示：导出的EXCEL数据为当前查询条件下所能查到的数据。您也可以选择数据表格右上方三个按钮中中间的导出按钮,使用layui自带的导出方法导出。<br>
    </label>
    <div class="layui-btn-group" style="margin-left:1150px">
        <button class="layui-btn layui-btn-sm" id="btn_search"><i class="layui-icon">查询&nbsp;&#xe615;</i></button>
        <button class="layui-btn layui-btn-sm" id="btn_export"><i class="layui-icon">导出&nbsp;&#xe67d;</i></button>
        <button class="layui-btn layui-btn-sm" id="btn_transfer" style="background-color:red"><i class="layui-icon">转派任务&nbsp;&#xe623;</i></button>
    </div>
    <br />
    <table class="layui-hide" lay-filter="user" id="RersonalProblemTable"></table>

</body>
<div class="layui-form" style="display:none" id="stepWindow">
    <br /><br />
    <table class="layui-hide" lay-filter="user" id="StepTable"></table>
</div>
<div class="layui-form" style="display:none" id="transferWindow">
    <br /><br />
    <form class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">转派人&nbsp;&nbsp;<label style="color:red">*</label></label>
            <div class="layui-input-inline" style="width:300px">
                <select ID="OpEmpNo" name="OpEmpNo" lay-verify="required" lay-search="">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <br /> <br />
        <div class="layui-inline">
            <label class="layui-form-label">转派意见&nbsp;&nbsp;<label style="color:red">*</label></label>
            <div class="layui-input-inline">
                <textarea type="text" name="opinion" id="opinion" autocomplete="off" class="layui-input" style="height:100px;width:530px" lay-verify="required" />
            </div>
        </div>
        <button class="layui-layer-btn0" id="btn_transfertask" style="display:none" lay-submit lay-filter="demo2"></button>
    </form>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" onclick=queryDetail('{{d.RepairId}}')>查看</a>
    <a class="layui-btn layui-btn-xs" onclick=queryStep('{{d.RepairId}}')>记录</a>
</script>
<script>
     function queryDetail(RepairId) {
         $.ajax({
             url: "@(Url.Action("getRepairDetail", "Repair"))",
             type: "post",
             data: { RepairId: RepairId },
                dataType: "JSON",
             success: function (res) {
                 //取到的数据存储到localStorage
                 localStorage.clear();
                 localStorage.setItem("RepairId", res.RepairId);
                 localStorage.setItem("Stu_Name", res.Stu_Name);
                 localStorage.setItem("SystemCategory", res.SystemCategory);
                 localStorage.setItem("Building", res.Building);
                 localStorage.setItem("Loaction", res.Loaction);
                 localStorage.setItem("ChargeEmpno", res.ChargeEmpno);
                 localStorage.setItem("ChargeEmpname", res.ChargeEmpname);
                 localStorage.setItem("Category", res.Category);
                 localStorage.setItem("ResponseContent", res.ResponseContent);
                 localStorage.setItem("ResponseEmpname", res.ResponseEmpname);
                 localStorage.setItem("ReplyContent", res.ReplyContent);
                 localStorage.setItem("Status", res.Status);
                 localStorage.setItem("CreatTime", res.CreatTime);
                 localStorage.setItem("FinishTime", res.FinishTime);
                 localStorage.setItem("PhotoPath", res.PhotoPath);
                 localStorage.setItem("RoomNum", res.RoomNum);
                 localStorage.setItem("RepairTime", res.RepairTime);
                 localStorage.setItem("Telephone", res.Telephone);
                 localStorage.setItem("DamageReason", res.DamageReason);
                 localStorage.setItem("DamageClass", res.DamageClass);
                 localStorage.setItem("DamageName", res.DamageName);
                 //原窗口打开新页面
                 var url = "@(Url.Action("ProblemAllDetailVw", "Repair"))" + "?RepairId=" + RepairId;;
                 $("#content").load(url);
             },
             error: function () {
                 console.log("失败");
                 alert(res.Msg);
             }

         });
     }

    function queryStep(RepairId) {

        $.ajax({
            url: "@(Url.Action("getStepList", "Repair"))",
            type: "post",
            dataType: "JSON",
            data: { RepairId: RepairId },
            success: function (result) {
                if (result.IsSuccess) {
                    let d = result;
                    layui.use(['form', 'jquery', 'table', 'layer'], function () {
                        var form = layui.form;
                        var $ = layui.jquery;
                        var table = layui.table;
                        var layer = layui.layer;

                        table.render({
                            elem: '#StepTable',
                            type: "post",
                            data: d.data,
                            id: "StepTable",
                            toolbar: '#StepTable',
                            contentType: 'application/json',
                            page: !0 || {
                                curr: 5,
                                groups: 1,
                                first: false,
                                last: false,
                                layout: ['limit', 'prev', 'page', 'next', 'count'] //自定义分页布局
                            }
                            , height: 400
                            , cellMinWidth: 80
                            //,skin: 'line'
                            //,size: 'lg'
                            , toolbar: true
                            , cols: [[
                                { field: 'RepairId', title: '请修编号', },
                                { field: 'ChargeEmpname', title: '当前负责人', },
                                { field: 'STEP', title: '操作阶段', },
                                { field: 'OPINION', title: '意见', },
                                { field: 'UpdateEmpName', title: '操作人',  },
                                {
                                    field: 'UpdateTime', title: '操作时间',
                                    templet: "<div>{{ formatDate(d.UpdateTime,'yyyy-MM-dd HH:mm:ss')}}</div>"
                                },
                            ]]
                        });
                    });
                } else {
                    alert(result.Msg);
                }
            },
            error: function () {
                // 请求失败后要执行的代码
                console.log("失败");
                alert(result.Msg);
            }
        });

        layer.open({
            title: '步骤记录',
            area: ['70%', '55%'],
            content: $("#stepWindow"),
            shade: 0.0,
            type: 1,
            cancel: function (layero, index) {
                layer.closeAll();
            }
        });
    }

    layui.use(['table', 'dropdown', 'form', 'laydate'], function () {

        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        var download = layui.download;

        loadOption();

        //墨绿主题
        laydate.render({
            elem: '#startDate'
            , theme: 'molv'
        });

        laydate.render({
            elem: '#endDate'
            , theme: 'molv'
        });

        render();

        $.ajax({
            url: "@(Url.Action("getProblemList", "Repair"))",  // 要提交的URL路径
            type: "post",    // 发送请求的方式
            dataType: "JSON",     // 指定传输的数据格式
            beforeSend: function () {     //请求之前的方法
            },
            success: function (result) {
                if (result.IsSuccess) {
                    let d = result;
                    layui.use(['form', 'jquery', 'table', 'layer'], function () {
                        var form = layui.form;
                        var $ = layui.jquery;
                        var table = layui.table;
                        var layer = layui.layer;

                        table.render({
                            elem: '#RersonalProblemTable',
                            type: "post",
                            data: d.data,
                            id: "RersonalProblemTableID",
                            contentType: 'application/json', // 参数为 json 格式传递
                            page: !0 || { //详细参数可参考 laypage 组件文档
                                curr: 5,
                                groups: 1,
                                first: false,
                                last: false,
                                layout: ['limit', 'prev', 'page', 'next', 'count'] //自定义分页布局
                            }
                            , height: 450
                            , cellMinWidth: 80
                            //,skin: 'line'
                            //,size: 'lg'
                            , toolbar: true
                            , cols: [[
                                { type: 'checkbox', LAY_CHECKED: false },
                                { field: 'RepairId', title: 'RepairID', width: 180 },
                                { field: 'SystemCategory', title: '系统类别', width: 210 },
                                { field: 'Building', title: '大楼别', width: 210 },
                                { field: 'Loaction', title: '位置', width: 210 },
                                { field: 'Category', title: '类别', width: 210 },
                                { field: 'ResponseEmpname', title: '反应人', width: 170 },
                                { field: 'ChargeEmpname', title: '负责人', width: 170 },
                                { field: 'ResponseContent', title: '反应内容', width: 300 },
                                { field: 'Status', title: '执行状态', width: 170 },
                                {
                                    field: 'CreatTime', title: '填表时间', width: 180,
                                    templet: "<div>{{ formatDate(d.CreatTime,'yyyy-MM-dd HH:mm:ss')}}</div>"
                                },
                                {
                                    field: 'FinishTime', title: 'Finish Time(完单时间)', width: 180,
                                    templet: "<div>{{ formatDate(d.FinishTime,'yyyy-MM-dd HH:mm:ss')}}</div>"
                                },
                                { fixed: 'right', title: '操作', width: 130, minWidth: 80, toolbar: '#barDemo' },

                            ]]
                        });
                    });
                } else {
                    alert(result.Msg);
                }
            },
            error: function () {
                // 请求失败后要执行的代码
                console.log("失败");
                alert(result.Msg);
            }
        });

        function reloadDate() {
            var model = {
                SystemCategory: $('#OpSystemCategory').val(),
                Building: $('#OpBuilding').val(),
                Loaction: $('#OpLocation').val(),
                Category: $('#OpCategory').val(),
                ResponseEmpname: $('#ResponseEmpname').val(),
                ResponseContent: $('#ResponseContent').val(),
                ChargeEmpname: $('#OpChargeEmpname').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                Status: $('#OpStatus').val(),
            }
            $.ajax({
                url: "@(Url.Action("getProblemList", "Repair"))",   // 要提交的URL路径
                type: "post",    // 发送请求的方式
                data: model,
                dataType: "JSON",     // 指定传输的数据格式
                success: function (result) {
                    if (result.IsSuccess) {
                        let d = result;
                        table.reload('RersonalProblemTableID', {
                        data: d.data,
                        page: { curr: 1 },
                        });
                    } else {
                        alert(result.Msg);
                    }
                },
                error: function () {
                    // 请求失败后要执行的代码
                    console.log("失败");
                    alert(result.Msg);
                }
            });
        }

        function loadOption() {
            $("#OpBuilding").empty();
            $.ajax({
                url: "@(Url.Action("getBuilding", "DDL"))",
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    $('#OpBuilding').append(new Option());
                    $('#addBuilding').append(new Option());
                    for (let i = 0, len = result.length; i < len; i++) {
                        $("#OpBuilding").append(`<option value="${result[i].Building}">${result[i].Building}</option>`);
                    }
                    //进行渲染
                    layui.use('form', function () {
                        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                        form.render();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            $("#OpStatus").empty();
            $.ajax({
                url: "@(Url.Action("getStatus", "DDL"))",
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    $('#OpStatus').append(new Option());
                    for (let i = 0, len = result.length; i < len; i++) {
                        $("#OpStatus").append(`<option value="${result[i].StatusValue}">${result[i].StatusText}</option>`);
                    }
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            $("#OpLocation").empty();
            $.ajax({
                url: "@(Url.Action("getLocationAll", "DDL"))",
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    $('#OpLocation').append(new Option());
                    for (let i = 0, len = result.length; i < len; i++) {
                        $("#OpLocation").append(`<option value="${result[i].Location}">${result[i].Location}</option>`)
                    }
                    //进行渲染
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            $("#OpCategory").empty();
            $.ajax({
                url: "@(Url.Action("getKindBySystemCategory", "DDL"))",
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    $('#OpCategory').append(new Option());
                    for (let i = 0, len = result.length; i < len; i++) {
                        $("#OpCategory").append(`<option value="${result[i].KindCategory}">${result[i].KindCategory}</option>`)
                    }
                    //进行渲染
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            $("#OpChargeEmpname").empty();
            $.ajax({
                url: "@(Url.Action("getChargePerson", "DDL"))",
                type: "POST",
                dataType: 'json',
                success: function (result) {
                    $('#OpChargeEmpname').append(new Option());
                    for (let i = 0, len = result.length; i < len; i++) {
                        $("#OpChargeEmpname").append(`<option value="${result[i].FullName}">${result[i].FullName}</option>`)
                    }
                    //进行渲染
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }


        form.on('select(SystemCategory)', function (data) {
            $("#OpStatus").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getStatus", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpStatus').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpStatus").append(`<option value="${result[i].StatusValue}">${result[i].StatusText}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }


            $("#OpBuilding").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getBuildingBySystemCategory", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpBuilding').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpBuilding").append(`<option value="${result[i].Building}">${result[i].Building}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }

            $("#OpLocation").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getLocationAllBySC", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpLocation').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpLocation").append(`<option value="${result[i].Location}">${result[i].Location}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }

            $("#OpCategory").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getKindBySystemCategory", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpCategory').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpCategory").append(`<option value="${result[i].KindCategory}">${result[i].KindCategory}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }

            $("#OpChargeEmpname").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getChargePersonBySystemCategory", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpChargeEmpname').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpChargeEmpname").append(`<option value="${result[i].FullName}">${result[i].FullName}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }
        });

        form.on('select(Building)', function (data) {
            $("#OpLocation").empty();
            var SystemCategory = data.value;
            if (SystemCategory == null || SystemCategory == "") {
                $("#OpBuilding").empty();
                $("#OpStatus").empty();
                $("#OpChargeEmpname").empty();
                $("#OpCategory").empty();
                $("#OpLocation").empty();
                loadOption();
            } else {
                $.ajax({
                    type: "post",
                    url: "@(Url.Action("getLoactionByBuilding", "DDL"))",
                    data: { "keyWord": SystemCategory },
                    dataType: "json",
                    success: function (result) {
                        $('#OpLocation').append(new Option());
                        for (let i = 0, len = result.length; i < len; i++) {
                            $("#OpLocation").append(`<option value="${result[i].Location}">${result[i].Location}</option>`);
                        }
                        form.render();
                    }, error: function () {
                        layer.alert('请求失败');
                    }
                });
            }
        })


        $('#btn_search').click(function () {
            reloadDate();
        });

        function request() {
            var model = {
                SystemCategory: $('#OpSystemCategory').val(),
                Building: $('#OpBuilding').val(),
                Loaction: $('#OpLocation').val(),
                Category: $('#OpCategory').val(),
                ResponseEmpname: $('#ResponseEmpname').val(),
                ResponseContent: $('#ResponseContent').val(),
                ChargeEmpname: $('#OpChargeEmpname').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                Status: $('#OpStatus').val(),
            }

            fetch("@(Url.Action("ProblemListExport", "Repair"))", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(model),
            })
                .then(res => res.blob())
                .then(data => {
                    if (data.size == 0) {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("下载失败！");
                        });
                    } else {
                        let blobUrl = window.URL.createObjectURL(data);
                       // window.location = blobUrl;
                        const a = document.createElement('a');
                        var datetime = layui.util.toDateString(new Date().getTime(), "yyyyMMddHHmmss");
                        console.log(datetime);
                        a.download = "ProblemList_" + datetime + ".xlsx";
                        a.href = blobUrl;
                        a.click();
                        //download(blobUrl);
                    }
                });
        }

        $('#btn_export').click(function () {
            request();
        });

        function download(blobUrl) {
            const a = document.createElement('a');
            a.download = 'a.xsls';
            a.href = blobUrl;
            a.click();
        }

        $('#queryStep').click(function () {
            $.ajax({
            url: "@(Url.Action("getStepList", "Repair"))",  // 要提交的URL路径
            type: "post",    // 发送请求的方式
            dataType: "JSON",     // 指定传输的数据格式
            beforeSend: function () {     //请求之前的方法
            },
            success: function (result) {
                if (result.IsSuccess) {
                    let d = result;
                    layui.use(['form', 'jquery', 'table', 'layer'], function () {
                        var form = layui.form;
                        var $ = layui.jquery;
                        var table = layui.table;
                        var layer = layui.layer;

                        table.render({
                            elem: '#StepTable',
                            type: "post",
                            data: d.data,
                            id: "StepTable",
                            toolbar: '#StepTable',
                            contentType: 'application/json', // 参数为 json 格式传递
                            page: !0 || { //详细参数可参考 laypage 组件文档
                                curr: 5,
                                groups: 1,
                                first: false,
                                last: false,
                                layout: ['limit', 'prev', 'page', 'next', 'count'] //自定义分页布局
                            }
                            , height: 523
                            , cellMinWidth: 80
                            //,skin: 'line'
                            //,size: 'lg'
                            , toolbar: true
                            , cols: [[
                                { type: 'checkbox', LAY_CHECKED: false},
                                { field: 'RepairId', title: '请修编号', width: 180 },
                                { field: 'STEP', title: '操作阶段', width: 210 },
                                { field: 'OPINION', title: '意见', width: 210 },
                                { field: 'ChargeEmpname', title: '当前负责人', width: 210 },
                                { field: 'UpdateEmpName', title: '操作人', width: 210 },
                                { field: 'UpdateTime', title: '操作时间', width: 170 },
                                {
                                    field: 'UpdateTime', title: '操作时间', width: 180,
                                    templet: "<div>{{ formatDate(d.UpdateTime,'yyyy-MM-dd HH:mm:ss')}}</div>"
                                },
                            ]]
                        });
                    });
                } else {
                    alert(result.Msg);
                }
            },
            error: function () {
                // 请求失败后要执行的代码
                console.log("失败");
                alert(result.Msg);
            }
        });
            layer.open({
                title: '步骤记录',
                area: ['40%', '35%'],
                content: $("#stepWindow"),
                shade: 0.0,
                type: 1,
                cancel: function (layero, index) {
                    layer.closeAll();
                }
            });
        });

        $('#btn_transfer').click(function () {
            var selectData = layui.table.checkStatus('RersonalProblemTableID').data;
            if (selectData.length != 1) {
                alert("请选择一条报修单转派任务");
            } else {
                var SystemCategory = selectData[0].SystemCategory;
                if (selectData[0].Status == "complete(完成)" || selectData[0].Status == "驳回至使用者") {
                    alert("该报修单的状态为 " + selectData[0].Status + " ，无法转派");
                    return false;
                }
                $("#OpEmpNo").empty();
                if (SystemCategory == null || SystemCategory == "") {
                    $("#OpEmpNo").empty();
                } else {
                    $.ajax({
                        type: "post",
                        url: "@(Url.Action("getChargePersonBySystemCategory", "DDL"))",
                        data: { "keyWord": SystemCategory },
                        dataType: "json",
                        success: function (result) {
                            $('#OpEmpNo').append(new Option());
                            for (let i = 0, len = result.length; i < len; i++)
                            {
                                if (result[i].FullName == localStorage.getItem("ChargeEmpname")) {
                                    $("#OpEmpNo").append(`<option value="${result[i].EmpNo}" disabled="">${result[i].FullName}</option>`);
                                } else {
                                    $("#OpEmpNo").append(`<option value="${result[i].EmpNo}">${result[i].FullName}</option>`);
                                }
                            }
                            form.render();
                        }, error: function () {
                            layer.alert('请求失败');
                        }
                    });
                }    
                
                layer.open({
                    title: '转派任务',
                    area: ['40%', '35%'],
                    content: $("#transferWindow"),
                    shade: 0.0,
                    type: 1,
                    btn: ['确定', '重置'],
                    btn1: function (index, layero) {
                        var formSubmit = $("#transferWindow");
                        var submited = formSubmit.find('button')[0];
                        submited.click();
                    },
                    btn2: function (index, layero) {
                        $('select[name=OpEmpNo]').val("");
                        $("#opinion").val("");
                        render();
                        return false;
                        loadoption();
                    },
                    cancel: function (layero, index) {
                        $('select[name=OpEmpNo]').val("");
                        $("#opinion").val("");
                        layer.closeAll();
                    }
                });
            }
        });

        form.on('submit(demo2)', function () {
            var selectData = layui.table.checkStatus('RersonalProblemTableID').data;
            var model = {
                "NewReplyContent": $("#opinion").val(),
                "Status": selectData[0].Status,
                "RepairId": selectData[0].RepairId,
                "ChargeEmpname": document.getElementById("OpEmpNo").options[document.getElementById("OpEmpNo").selectedIndex].text,
                "ChargeEmpno": $("#OpEmpNo").val(),
            };

            $.ajax({
                type: 'post',
                url: "@(Url.Action("TransferProblem", "Repair"))",
                data: JSON.stringify(model),
                async: false,
                dataType: "json",
                processData: false,
                contentType: 'application/json',
                beforeSend: function () {
                    $('#btn_submit').addClass("layui-btn-disabled").attr("disabled", true);
                },
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("转派成功");
                         var url = "@(Url.Action("ProblemAllVw", "Repair"))";
                        $("#content").load(url);
                    }
                    else {
                        alert(result.Msg);
                    }
                }
            });
            return false;
        });

        function render() {
            // 封装函数-表单更新渲染
            layui.use('form', function () {
                var form = layui.form;
                form.render('select');
            })
        }

    });
</script>


