@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        888报修系统 888 repair system
    </title>
    <link rel="stylesheet" href="~/src/css/layui.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/src/language/index.js"></script>*@
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域（可配合layui 已有的水平导航） -->
            @*<ul class="layui-nav" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item layui-btn-warm" lay-unselect style="margin-left:1300px">
                    <a href="javascript:;">
                        <cite id="languageStatus">中文</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd onclick="changeLanguage('ch')"><a>中文</a></dd>
                        <dd onclick="changeLanguage('en')"><a>English</a></dd>
                    </dl>
                </li>
            </ul>*@
            <ul class="layui-nav layui-layout-left">
                <li style="padding-top:5%">
                    <a style="font-family:Cambria;font-size:x-large;color:white;width:100%">昆山康桥学校-报修系统(北)</a>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:;">
                       <span id="username"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="btn_logout">Sign out</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black" id="leftmenu">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree Menu" lay-filter="test" id="Menu">
                    <li class="layui-nav-item current" data-id="fill"><a class="layui-nav-item ">填写问题</a></li>
                    <li class="layui-nav-item current" data-id="personalProblem"><a class="layui-nav-item ">个人问题列表</a></li>
                    <li id="replyProblem" class="layui-nav-item current" data-id="replyProblem"><a class="layui-nav-item ">回复问题</a></li>
                    <li id="listProblem" class="layui-nav-item current" data-id="listProblem"><a class="layui-nav-item ">问题列表</a></li>
                    <li id="ProblemRepair" class="layui-nav-item current" data-id="ProblemRepair"><a class="layui-nav-item ">问题列表维护</a></li>
                    <li id="areaMatch" class="layui-nav-item" data-id="areaMatch"><a class="layui-nav-item ">辖区配对维护</a></li>
                    <li id="kindMatch" class="layui-nav-item" data-id="kindMatch"><a class="layui-nav-item ">业管配对维护</a></li>
                    @*<li class="layui-nav-item" data-id="fillQuestion"><a class="layui-nav-item ">业管配对维护</a></li>*@
                    <li id="dataRepair" class="layui-nav-item">
                        <a href="javascript:;">基础数据维护</a>
                        <dl class="layui-nav-child" id="MenuChild">
                            <dd data-id="area"><a class="layui-nav-item ">辖区维护</a></dd>
                            <dd data-id="kind"><a class="layui-nav-item ">业管维护</a></dd>
                            <dd data-id="charge"><a class="layui-nav-item ">负责人维护</a></dd>
                            <dd data-id="status"><a class="layui-nav-item ">状态维护</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="margin-bottom:100px">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;" id="content">
               
            </div>
        </div>
        <div class="layui-footer">
            <p style="margin-left:300px">&copy; @DateTime.Now.Year - 888报修系统  若对报修系统有疑虑或系统发生错误，请洽资讯组 分机5509</p>
        </div>
    </div>
</body>
<script src="~/src/layui.js"></script>
<script>
    function formatDate(str) {
        if (str != null && str != '') {
            var now = new Date(parseInt(str.replace("/Date(", "").replace(")/", ""), 10));
            var year = now.getFullYear();  //取得4位数的年份
            var month = now.getMonth() + 1;  //取得日期中的月份，其中0表示1月，11表示12月
            var date = now.getDate();      //返回日期月份中的天数（1到31）
            var hour = now.getHours();     //返回日期中的小时数（0到23）
            var minute = now.getMinutes(); //返回日期中的分钟数（0到59）
            var second = now.getSeconds(); //返回日期中的秒数（0到59）
            return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
        }
        else {
            return ;
        }
    }
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;
    });

    //var language = localStorage.getItem('language');
    //for (let key in languageMap) {
    //    if (key === language) {
    //        document.querySelector('#languageStatus').innerText = languageMap[key].description;
    //        break;
    //    }
    //}
    //setLanguage();
    //setTimeout(() => {setLanguage();}, 300)

    $(function () {

        $('#areaMatch').hide();
        $('#kindMatch').hide();
        $('#dataRepair').hide();
        $('#listProblem').hide();
        $('#replyProblem').hide();
        $('#ProblemRepair').hide();
        
        var logusername = '@(Session["fullname"])';
        var logempno = '@(Session["EmpNo"])';
        var logmanager = '@(Session["Manager"])';
        var logviewer = '@(Session["Viewer"])';

        if (logusername == "") {
            $('#leftmenu').hide();
        } else {
            $('#leftmenu').show();
        }

       // alert(logusername);
        $("#username").html(logusername == "" ? "未登录" : logusername);

        if (logmanager == "1")
        {
            $('#areaMatch').show();
            $('#kindMatch').show();
            $('#dataRepair').show();
            $('#ProblemRepair').show();
        } else
        {
            $('#areaMatch').hide();
            $('#kindMatch').hide();
            $('#dataRepair').hide();
            $('#ProblemRepair').hide();
        }

        if (logviewer == "1") {
            $('#listProblem').show();
        }

        if (!(navigator.userAgent.match(/(phone|pad|pod|mobile|ios|android|BlackBerry|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|symbian|transcoder)/i))) {
            @*url = '@Url.Action("Index", "Home")';
            window.location.href = url;*@
        }
        else
        {
            alert("移动端开发中,请PC端登录");
            url = '@Url.Action("LoginIndex", "Login")';
            window.location.href = url;
        }

        $.ajax({
            type: 'post',
            url: "@(Url.Action("checkDirector", "Login"))",
            data: { EmpNo: logempno },
            success: function (result) {
                if (result.IsSuccess) {
                    if (result.Msg == "1")
                    {
                        $('#replyProblem').show();
                        $('#listProblem').show();
                    }
                }
                else {
                    alert("程式异常，请联系资讯");
                }
            }
        });

        $(".Menu").on("click", "dd", function () {
            var sId = $(this).data("id");//获取data-id的值
            window.location.hash = sId;
            loacdInner(sId);
        });

        $(".Menu").on("click", "li", function () {
            var sId = $(this).data("id");//获取data-id的值
            if (sId != null) {
                window.location.hash = sId;
                loacdInner(sId);
            }
           
        });
        
        function loacdInner(sId) {
            var sId = window.location.hash;
            var pathn, i;

            switch (sId) {
                case "#area":
                    pathn = "@(Url.Action("AreaIndex", "Area"))",
                        i = 0;
                    break;
                case "#kind":
                    pathn = "@(Url.Action("KindIndex", "Kind"))",
                        i = 0;
                    break;
                case "#fill":
                    pathn = "@(Url.Action("RepairIndex", "Repair"))",
                        i = 0;
                    break;
                case "#charge":
                    pathn = "@(Url.Action("DirectorIndex", "Director"))",
                        i = 0;
                    break;
                case "#status":
                    pathn = "@(Url.Action("StateIndex", "State"))",
                        i = 0;
                    break;
                case "#areaMatch":
                    pathn = "@(Url.Action("AreaMatchIndex", "Area"))",
                        i = 0;
                    break;
                case "#kindMatch":
                    pathn = "@(Url.Action("KindMatchIndex", "Kind"))",
                        i = 0;
                    break;
                case "#fillQuestion":
                    pathn = "@(Url.Action("RepairIndex", "Repair"))",
                        i = 0;
                    break; 
                case "#personalProblem":
                    pathn = "@(Url.Action("RersonalProblemIndex", "Repair"))",
                        i = 0;
                    break; 
                case "#replyProblem":
                    pathn = "@(Url.Action("ReplyRepairIndex", "Repair"))",
                        i = 0;
                    break; 
                case "#listProblem":
                    pathn = "@(Url.Action("ProblemListIndex", "Repair"))",
                        i = 0;
                    break; 
                case "#ProblemRepair":
                    pathn = "@(Url.Action("ProblemAllVw", "Repair"))",
                        i = 0;
                    break; 
                default:
                    pathn = "@(Url.Action("RepairIndex", "Repair"))",
                        i = 0; 
                    break;
            }
            $("#content").load(pathn);//加载相应内容
           // $(".MenuChild dd").eq(i).addClass("current").siblings().removeClass("current");//当前列表高亮

        }

        var sId = window.location.hash;
        loacdInner(sId);

        $("#btn_logout").on("click", function () {
            $.ajax({
                url: "@(Url.Action("LoginOut", "Login"))",
                type: "post",
                dataType: "json",
                success: function (result) {
                    if (result.IsSuccess) {
                        var url = '@Url.Action("LoginIndex", "Login")';
                         window.location.href = url;
                    } else
                    {
                         alert(result.Msg);
                    }
                }
            });
        });

    });
</script>
