
@{
    ViewBag.Title = "StateIndex";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>状态维护</title>
    <style>
        body {
            padding: 32px; /*overflow-y: scroll;*/
        }

        .layui-select-disabled .layui-disabled {
            color: #000000 !important;
        }
    </style>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>状态维护</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">系统类别</label>
                <div class="layui-input-inline">
                    <select ID="SystemCategory" name="SystemCategory">
                        <option value=""></option>
                        @*<option value="IT(资讯类)">IT(资讯类)</option>
                        <option value="Logistics(总务后勤类)">
                            Logistics(总务后勤类)
                        </option>*@
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="status" id="status" placeholder="此查询框为模糊查询……" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>  
        </div>
    </form>
    <div class="layui-btn-group" style="margin-left:1100px">
        <button class="layui-btn layui-btn-sm" id="btn_search"><i class="layui-icon">查询&nbsp;&#xe615;</i></button>
        <button class="layui-btn layui-btn-sm" id="btn_add"><i class="layui-icon">新增&nbsp;&#xe654;</i></button>
        <button class="layui-btn layui-btn-sm" id="btn_edit"><i class="layui-icon">修改&nbsp;&#xe642;</i></button>
        <button class="layui-btn layui-btn-sm" id="btn_del"><i class="layui-icon">删除&nbsp;&#xe640;</i></button>
    </div>
    <br />
    <table class="layui-hide" lay-filter="user" id="test"></table>

</body>

<div class="layui-form" style="display:none" id="window">
    <br /><br />
    <form class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" class="form-control" disabled="disabled" id="addID">
            <label class="layui-form-label">系统类别&nbsp;&nbsp;<label style="color:red">*</label></label>
            <div class="layui-input-inline">
                <select ID="addSystemCategory" name="addSystemCategory" lay-verify="required">
                    <option value=""></option>
                    @*<option value="IT(资讯类)">IT(资讯类)</option>
                    <option value="Logistics(总务后勤类)">
                        Logistics(总务后勤类)
                    </option>*@
                </select>
            </div>
        </div>
        <br /> <br />
        <div class="layui-inline">
            <label class="layui-form-label">状态代码&nbsp;&nbsp;<label style="color:red">*</label></label>
            <div class="layui-input-block">
                <input type="text" name="addStatusValue" id="addStatusValue" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态名称&nbsp;&nbsp;<label style="color:red">*</label></label>
            <div class="layui-input-inline">
                <input type="text" name="addStatusText" id="addStatusText" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button class="layui-layer-btn0" id="btn_submit" style="display:none" lay-submit lay-filter="demo1"></button>
    </form>
</div>
<script>
   
    layui.use(['table','dropdown','form'], function () {
        var loading = layer.msg('页面加载中......');
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;

        render();

        var logGroupName = '@(Session["GroupName"])'
        if (logGroupName == "资讯") {
            $("#SystemCategory").append(`<option value="IT(资讯类)">IT(资讯类)</option>`);
            $("#addSystemCategory").append(`<option value="IT(资讯类)">IT(资讯类)</option>`);
            $('select[name=SystemCategory]').val('IT(资讯类)');
            $('select[name=addSystemCategory]').val('IT(资讯类)');
        } else if (logGroupName == "后勤") {
            $("#SystemCategory").append(`<option value="Logistics(总务后勤类)">Logistics(总务后勤类)</option>`);
            $("#addSystemCategory").append(`<option value="Logistics(总务后勤类)">Logistics(总务后勤类)</option>`);
            $('select[name=SystemCategory]').val('Logistics(总务后勤类)');
            $('select[name=addSystemCategory]').val('Logistics(总务后勤类)');
        } else if (logGroupName == "管理者") {
            $("#SystemCategory").append(`<option value="IT(资讯类)">IT(资讯类)</option>`);
            $("#SystemCategory").append(`<option value="Logistics(总务后勤类)">Logistics(总务后勤类)</option>`);
            $("#addSystemCategory").append(`<option value="IT(资讯类)">IT(资讯类)</option>`);
            $("#addSystemCategory").append(`<option value="Logistics(总务后勤类)">Logistics(总务后勤类)</option>`);
        }

        form.on('submit(demo1)', function (data) {
            var model = {
                "ID": "",
                "SystemCategory": $("#addSystemCategory").val(),
                "StatusValue": $("#addStatusValue").val(),
                "StatusText": $("#addStatusText").val(),
            };

            var selectData = layui.table.checkStatus('statustable').data;
            if (selectData.length == 1) {
                model.ID = $("#addID").val();
            }

            $.ajax({
                type: 'post',
                url: "@(Url.Action("editStatus", "State"))",
                data: JSON.stringify(model),
                async: false,
                dataType: "json",
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: 'application/json',
                beforeSend: function () {
                    // 禁用按钮防止重复提交
                    $('#btn1').addClass("layui-btn-disabled").attr("disabled", true);
                },
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("新增/修改状态成功");
                        $('#btn_add').removeClass("layui-btn-disabled").attr("disabled", false);
                        $('#btn_edit').removeClass("layui-btn-disabled").attr("disabled", false);
                        $('#btn_del').removeClass("layui-btn-disabled").attr("disabled", false);
                        $('#btn_search').removeClass("layui-btn-disabled").attr("disabled", false);
                        reloadDate();
                        layer.closeAll();
                    }
                    else {
                        alert(result.Msg);
                    }
                }
            });
            return false;
        });

        $.ajax({
            url: "@(Url.Action("getStateList", "State"))",  // 要提交的URL路径
            type: "post",    // 发送请求的方式
            dataType: "JSON",     // 指定传输的数据格式
            beforeSend: function () {     //请求之前的方法
            },
            success: function (result) {
                if (result.IsSuccess) {
                    let d = result;
                    layui.use(['form', 'jquery', 'table', 'layer'], function () {
                        var form = layui.form;
                        var $ = layui.jquery;
                        var table = layui.table;
                        var layer = layui.layer;

                        table.render({
                            elem: '#test',
                            type: "post",
                            data: d.data,
                            id: "statustable",
                            contentType: 'application/json', // 参数为 json 格式传递
                            page: !0 || { //详细参数可参考 laypage 组件文档
                                curr: 5,
                                groups: 1,
                                first: false,
                                last: false,
                                layout: ['limit', 'prev', 'page', 'next', 'count'] //自定义分页布局
                            }
                            ,height: 520
                            , cellMinWidth: 80
                            //,skin: 'line'
                            //,size: 'lg'
                            , toolbar: true
                            , cols: [[
                                { type: 'checkbox', LAY_CHECKED: false},
                                //{ field: 'ID', title: 'ID' },
                                { field: 'SystemCategory', title: '系统类别', sort: true },
                                { field: 'StatusValue', title: '状态代码', sort: true},
                                { field: 'StatusText', title: '状态名称',sort:true},
                                { field: 'UpdateUser', title: '操作人', sort: true},
                                {
                                    field: 'UpdateTime', title: '操作时间', sort: true,
                                    templet: "<div>{{ formatDate(d.UpdateTime,'yyyy-MM-dd HH:mm:ss')}}</div>"
                                }
                            ]],
                            done: function () {
                                layer.close(loading);
                            }
                        });
                    });
                } else {
                    alert(result.Msg);
                }
            },
            error: function () {
                // 请求失败后要执行的代码
                console.log("失败");
                alert(result.Msg);
            }
        });

        function reloadDate() {
            var model = {
                SystemCategory: $('#SystemCategory').val(),
                StatusText: $('#status').val(),
            }
            $.ajax({
                url: "@(Url.Action("getStateList", "State"))",  // 要提交的URL路径
                type: "post",    // 发送请求的方式
                data: model,
                dataType: "JSON",     // 指定传输的数据格式
                success: function (result) {
                    if (result.IsSuccess) {
                        let d = result;
                        table.reload('statustable', {
                        data: d.data,
                        page: { curr: 1 },
                        });
                    } else {
                        alert(result.Msg);
                    }
                },
                error: function () {
                    // 请求失败后要执行的代码
                    console.log("失败");
                    alert(result.Msg);
                }
            });
        }

        $('#btn_search').click(function () {
            reloadDate();
        });

        $('#btn_add').click(function () {

            var selectData = layui.table.checkStatus('statustable').data;
            var arrays = new Array();
            if (selectData.length != 0) {
                alert("新增时请勿选择数据");
                return false;
            }

            $('#btn_add').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_edit').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_del').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_search').addClass("layui-btn-disabled").attr("disabled", true);
            $('#addSystemCategory').removeClass("layui-disabled").removeAttr("disabled", "disabled");
            $('select[name=addSystemCategory]').val("");
            $("#addStatusValue").val("");
            $("#addStatusText").val("");
            render();
            layer.open({
                title: '新增状态',
                area: ['40%','30%'],
                content: $("#window"),
                shade: 0.0,
                type: 1,
                btn: ['确定', '重置'],
                btn1: function (index, layero) {
                    var formSubmit = $("#window");
                    var submited = formSubmit.find('button')[0];
                    submited.click();
                },
                btn2: function (index, layero) {
                    $('select[name=addSystemCategory]').val("");
                    $("#addStatusValue").val("");
                    $("#addStatusText").val("");
                    render();
                    return false;
                },
                cancel: function (layero, index) {
                    $('#btn_add').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_edit').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_del').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_search').removeClass("layui-btn-disabled").attr("disabled", false);
                    layer.closeAll();
                }
            });
        });

        $('#btn_edit').click(function () {

            var selectData = layui.table.checkStatus('statustable').data;
            var arrays = new Array();
            if (selectData.length != 1) {
                alert("请选择一条数据修改");
                return false;
            }

            $("#addID").val(selectData[0].ID);
            $("#addStatusValue").val(selectData[0].StatusValue);
            $("#addStatusText").val(selectData[0].StatusText);
            $('select[name=addSystemCategory]').val(selectData[0].SystemCategory);
            render();

            $('#btn_add').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_edit').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_del').addClass("layui-btn-disabled").attr("disabled", true);
            $('#btn_search').addClass("layui-btn-disabled").attr("disabled", true);
            $('#addSystemCategory').addClass("layui-disabled").attr("disabled", "disabled");

            layer.open({
                title: '修改状态',
                area: ['40%','30%'],
                content: $("#window"),
                shade: 0.0,
                type:1,
                btn: ['确定'],
                btn1: function (index, layero) {
                    var formSubmit = $("#window");
                    var submited = formSubmit.find('button')[0];
                    submited.click();
                },
                cancel: function (layero, index) {
                    $('#btn_add').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_edit').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_del').removeClass("layui-btn-disabled").attr("disabled", false);
                    $('#btn_search').removeClass("layui-btn-disabled").attr("disabled", false);
                    layer.closeAll();
                }
            });
        });

        $('#btn_del').click(function (obj) {
            var selectData = layui.table.checkStatus('statustable').data;
            console.log(selectData);
            var arrays = new Array();
            $(selectData).each(function () {
                var newArr = {};
                newArr.ID = this.ID;
                newArr.StatusValue = this.StatusValue;
                newArr.StatusText = this.StatusText;
                arrays.push(newArr)
            });
            if (selectData.length ==0 ) {
                alert("请选择数据");
            } else {
                $.ajax({
                    url: "@(Url.Action("DeleteState", "State"))",
                    type: "post",
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(arrays),
                    traditional: true,
                    success: function (result) {
                        if (result.IsSuccess) {
                            alert('删除成功');
                            reloadDate();
                        }
                            else {
                            alert(result.Msg);
                        }
                    },
                    error: function (result) {
                        alert("删除失败")
                    }
                });
            }
        });

        function render() {
            // 封装函数-表单更新渲染
            layui.use('form', function () {
                var form = layui.form;
                form.render('select');
            })
        }
    });
</script>

